@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Oxygen:wght@300;700&display=swap");
main {
  margin-top: 1%;
}
main .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 1%;
  width: 95vw;
}
main .container .hero {
  height: 100%;
  width: 100%;
}
main .container .herotxt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  font-size: 1.6rem;
}

/* fuente de google fonts */
/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-family: "Oxygen", sans-serif;
}

/* Paul Irish box sizing */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Raíz */
:root {
  --primario: #2b30ba;
  --secundario: #20a778;
  --terciario: #757575;
  --back: #d1d1d1c0;
}

body {
  background-color: var(--back);
  color: black;
  line-height: 1.5;
}
body main {
  margin-bottom: 1rem;
}
body h1,
body h2,
body h3 {
  text-align: center;
}
body a {
  color: black;
}

/* HEADER NavBar */
.header .navbar {
  width: 100vw;
  background: rgba(165, 202, 209, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(165, 202, 209, 0.25);
}
.header .navbar .container-fluid img {
  width: 2rem;
  margin-right: 2%;
}
.header .navbar .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header .navbar .navbar-nav .nav-item {
  text-align: center;
  margin: 1.8rem;
  padding: 1px;
}
.header .navbar .navbar-nav .nav-item:hover {
  background: rgba(203, 228, 233, 0.16);
  border-left: 1px solid #2b30ba;
  border-right: 1px solid #2b30ba;
  border-radius: 12%;
  transition: 0.25s;
}
.header .navbar .navbar-nav .nav-link a {
  color-scheme: black;
}
.header .navbar .navbar-nav .btn-outline-success {
  color: black;
  border: 1px solid #2b30ba;
}
.header .navbar .navbar-nav .btn-outline-success:hover {
  background: rgba(215, 230, 233, 0.16);
  color: #0d00a1;
}
.header .navbar .navbar-nav .dropdown-menu {
  background-color: rgba(165, 202, 209, 0.559);
}
.header .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: rgba(181, 226, 235, 0.559);
  transition: 0.3s;
  width: 80%;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 22px;
  background: rgba(177, 211, 218, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(165, 202, 209, 0.25);
  height: auto;
}
.footer .fa-brands {
  font-size: 3rem;
}
.footer .fa-instagram:hover {
  background: -webkit-linear-gradient(#bf05af, #fff200, #cb0b0b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .fa-youtube:hover {
  color: #e50e0e;
}
.footer .redes ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.footer .footinfo {
  display: grid;
  justify-items: center;
}
